@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PPModelPlastic";
  src: url("/fonts/PPModel/PPModelPlastic-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PPModelPlasticLine";
  src: url("/fonts/PPModel/PPModelPlasticLine-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PPModelPlastic";
  src: url("/fonts/PPModel/PPModelPlastic-Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "PPValve";
  src: url("/fonts/PPValve/PPValve-PlainExtrabold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PPValve";
  src: url("/fonts/PPValve/PPValve-PlainMedium.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "PPValve";
  src: url("/fonts/PPValve/PPValve-PlainExtralight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

:root {
  --main-color: #888aff;
  --primary-color: #0ff8b8;
  --secondary-color: #0057ff;
  --tertiary-color: #ffd700;
  --background-color: #1b1b1b;
  --light: #fff;
  --font-XXL: 3rem;
  --font-XL: 2rem;
  --font-L: 1.5rem;
  --font-M: 1rem;
  --font-ML: 1.25rem;
  --font-MS: 0.875rem;
  --font-MSS: 0.8rem;
  --font-S: 0.7rem;
  --font-XS: 0.5rem;
  --font-ppvalve: "PPValve", sans-serif;
  --font-ppmodel: "PPModelPlastic", sans-serif;
  --font-ppmodel-line: "PPModelPlasticLine", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--light);
  font-family: var(--font-ppmodel);
  z-index: 0;
  margin: 0;
  min-height: 100vh;
  font-size: 16px;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

a,
:visited {
  text-decoration: none;
  color: inherit;
}

&::-webkit-scrollbar {
  width: 8px;
}

&::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    var(--secondary-color),
    var(--tertiary-color),
    var(--primary-color)
  );
  border-radius: 10px;

  -webkit-mask: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  mask: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
